cron:
- description: "Periodically export events data"
  url: /_i/1/scheduler/export
  schedule: every 10 minutes
  target: default

- description: "Periodically train models"
  url: /_i/1/scheduler/train
  schedule: every 15 minutes
  target: default